/*  
    RESET

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  

    GENERAL

*/
.btn {
  padding: 4px;
  border-radius: 5px;
  border-width: 1px;
}

body {
  background-color: grey;
}

/* 

    HEADER 

*/

header {
  background-color: white;
  margin-bottom: 40px;
  padding: 10px 20px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.imm {
  vertical-align: middle;
}

/* 

    SUBHEADER

*/
.subheader {
  background-color: white;
  width: 800px;
  margin: auto;
  
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
}

.b1 {
  background-color: #14aaf5;
  font-size: 12px;
  color: white;
  margin-left: 30px;
  border-color:#14aaf5 ;
}
.b2 {
  background-color: white;
  border-color: #c4cbd0;
  font-size: 12px;
  color: #c4cbd0;
}

/* 

    MAIN
    

*/

main {
  background-color: white;
}
