/*  
    RESET

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  

    GENERAL

*/
.btn {
  padding: 4px;
  border-radius: 5px;
  border-width: 1px;
}

body {
  background-color: #f6f8f9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 

    HEADER 

*/

header {
  background-color: white;
  margin-bottom: 40px;
  padding: 10px 20px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.imm {
  vertical-align: middle;
}

/* 

    SUBHEADER

*/
/* segment containing two buttons */
.subheader {
  background-color: white;
  width: 800px;
  margin: auto;

  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* buttons color definition */
.b1 {
  background-color: #14aaf5;
  font-size: 12px;
  color: white;

  border-color: #14aaf5;
}
.b2 {
  background-color: white;
  border-color: #c4cbd0;
  font-size: 12px;
  color: #c4cbd0;
}

/* 
 
    MAIN
    

*/

.bold {
  font-weight: bold;
  font-size: 30px;
}
main {
  background-color: white;
  background-color: white;
  width: 800px;
  margin: auto;
  margin-top: 2px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 40px;
}

/* classes to create the effects around checks and crosses  */
.circle {
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

/* classes to define checks and crosses */
.true {
  border-color: green;
  color: green;
}
.false {
  border-color: red;
  color: red;
}

ul {
  list-style: none;
}
li {
  font-size: 20px;
  margin-top: 10px;
}
ul {
  margin-bottom: 30px;
}
/* class to define the text near the lists */
.box {
  font-size: 12px;
  border-radius: 20px;
  margin-left: 5px;
  padding: 7px;
  color: white;
}
.text {
  margin-left: 10px;
}

/* color for the boxes near each lists element */
.ed {
  background-color: #14aaf5;
}
.web {
  background-color: #ec4a9d;
}
.mobile {
  background-color: #ff9b00;
}
.rec {
  background-color: #2cc6ab;
}
.q1 {
  background-color: #ab5de6;
}
.sales {
  background-color: #a3d116;
}
